* {
  font-family: fantasy;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 260px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: yellow;
}